.contacto-franquisia{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: $fondo-cafe;

    .contacto-header{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        
        .img-bg-beige{
            width: 100%;
        }
        .img-logo-beige{
            position: absolute;
            top: 50%;
            transform: translate(0, -55%);
            width: 200px;
            height: auto;
            margin: auto;
        }
        .img-tenedor-beige{
            position: absolute;
            top: 0;
            left: 0;
            width: 304px;
            height: auto; 
        }
        .img-jitomate1-beige{
            position: absolute;
            top: 0;
            left: 27%;
            width: auto;
            height: auto; 
        }
        .img-jitomate2-beige{
            position: absolute;
            top: 24%;
            right: 10%;
            width: auto;
            height: auto; 
        }
        .img-penne-beige{
            position: absolute;
            top: 14%;
            left: 14%;
            width: 160px;
            height: auto; 
        }
        .img-slogan-beige{
            position: absolute;
            bottom: -41px;
            right: 7%;
            width: 264px;
            height: auto;
        }
        .img-camaron-beige{
            position: absolute;
            top: 0;
            right: 20%;
            width: 184px;
            height: auto; 
        }
    }
}