.formulario{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    height: auto;
    padding-top: 16px;
    margin-top: 24px;
    margin-bottom: 40px;
    @include mobile{
        padding: 16px;
    }

    .img-form-logo{
        width: 248px;
        @include mobile{
            width: 160px;
        }
    }
}
.contacto-title{
    color: $fondo-beige;
    text-transform: none;
    font-size: 3.7rem;
    margin-top: 40px;
    margin-bottom: 32px;
    letter-spacing: 4px;
    font-weight: bold;

    @include tablet{
        font-size: 3.5rem;
        margin-left: 16px;
    }
    @include mobile{
        font-size: 31px;
        margin-left: 0;
        letter-spacing: 3px;
        margin-bottom: 16px;
    }
}

.contacto-form{
    width: 100%;
    display: flex;
    flex-direction: column;

    .form-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include mobile{
            flex-direction: column;
        }

        .form-card{
            width: 49%;
            display: flex;
            flex-direction: column;
            position: relative;
            @include mobile{
                width: 100%;
            }
            input{
                height: 38px;
                border-bottom: solid 2px $fondo-cafe;
                position: relative;
            }
        }
    }
    .form-container-2{
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        input{
            height: 38px;
            border-bottom: solid 2px $fondo-cafe;
            position: relative;
        }

    }
    .form-subtitle-cont{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-top: 40px;
        margin-bottom: 24px;

        @include mobile{
            margin-top: 24px;
            margin-bottom: 8px;
        } 
        h2{
            margin: 0;
            text-align: center;
            font-size: 20px;
        }
    }
   
    
    input.error, textarea.error, select.error{
        border-color:#F44336!important;
    }
    label.error{
        color: #F44336;
        position: absolute;
        top: 12px;
        font-size: 11px !important;
        right: 0;
        margin-bottom: 0.5rem !important;
    }
    .nota span{
        color: $fondo-cafe;
        letter-spacing: 1px;
        font-size: .9rem;
    }

    
    input, select, textarea{
        margin-bottom: 8px;
        padding-left: 16px;
        font-size: 18px;
        background: transparent;
        border-left: none;
        border-top: none;
        border-right: none;
    }
    input:focus{
       outline: none;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $fondo-cafe;
        opacity: 1; /* Firefox */
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $fondo-cafe;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: $fondo-cafe;
    }
   
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.h2-swal{
    color: #fff !important;
    font-size: 30px !important;
}
.p-swal{
    color: #fff !important;
    font-size: 18px !important;
    line-height: 1.2;
}
