.hero-image {
    background-image: url('/img/inicio/hero.png');
    height: 82vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
    color: white;
    @include mobile{
        width: 85%;
    }

    h1{
      font-size: 50px;
      letter-spacing: 5px;
      margin-bottom: 0;
    }
    h2{
      font-size: 50px;
      letter-spacing: 5px;
    }
    img{
      height: 82px;
      margin-top: -16px;
      margin-bottom: 32px;
    }
  }
  
  .hero-text button {
    border: 2px solid $white;
    outline: 0;
    display: block;
    padding: 10px 56px;
    color: $white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    transition: all .25s ease-in-out;
  }
  
  .hero-text button:hover {
    background-color: #fff;
    color: #000;
    transition: all .25s ease-in-out;
  }