

//Colors
$fondo-cafe: #313131;
$fondo-beige: #c0aa7a;





// media queries
$tablet: 1071px;
$mobile: 747px;
$max-width-screen: 1232px;


// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
